*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header.header-container {
  position: relative;
  /* height: 75rem; */
}
.geo-image{
  position: absolute;
  top: -230px;
  left: 0;
  background: linear-gradient(115deg, #fff 0%, #f4f4f4 73%, #e0e7ef 73%);
  transform: skewY(-7deg);
  height: 48.5rem;
  width: 100%;
  z-index: -1;
}



.container {
  width: 100%;
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
display: flex;

}

.navbar.sticky {
  background: white;
  box-shadow: 0px 0px 20px rgb(48 63 100 / 20%);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand
 {
  color: #666;
}

.navbar-toggler {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: #666);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls='navbarDropdown'] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  /* padding-right: 10px; */
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  transition: ease-in-out 0.3s;
}

.navbar-brand img {
  height: 50px;
}

.nav-link a {
  color: var(--font-color-light);
  font-size: 1rem;
  margin-right: 30px;
  line-height: 20px;
}

.nav-link.active a {
  color: var(--primary-blue);
}

a.btn-primary {
  color: var(--font-color-white);
  font-size: var(--size-14);
  margin-right: 0;
}

.header-hero {
  height: 510px;
}

.header-hero .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 0;
  height: inherit;
}

.hero-text {
  padding-right: 170px;
}
.hero-text h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.hero-text p {
  color: var(--font-color-light);
  font-size: var(--size-14);
  margin-bottom: 3rem;
}

.learn-links {
  display: flex;
  align-items: center;
}

.learn-links a.video-btn.btn-primary {
  display: flex;
  align-items: center;
}

a.video-btn.btn-primary i {
  font-size: var(--size-20);
  padding-right: 10px;
}

a.video-btn.btn-primary p {
  color: var(--font-color-white);
  font-size: var(--size-14);
}

.learn-more a {
  color: var(--primary-blue);
  padding-left: 20px;
  font-weight: 700;
}

.icon-group {
  position: relative;
}
.icon-small {
  width: 4.35rem;
  height: 4.35rem;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 2px #bfc5cb;
}

.icon-large {
  width: 5.975rem;
  height: 5.975rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 2px #bfc5cb;
}

.google.icon-small {
position:absolute;
left: 20px;
animation-name: google;
animation-duration: 1s;
animation-fill-mode: forwards;
}

@keyframes google {
  from {top: 50px; opacity: 0%;}
  to {top: 0px; opacity: 100%;}
}

.atlassian.icon-large {
  position: absolute;
  left: 150px;
  animation-name: atlassian;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes atlassian {
  from {top: 50px; opacity: 0%;}
  to {top: 0px; opacity: 100%;}
}

.asana.icon-large {
  position:absolute;
  right: 0px;
  animation-name: asana;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes asana {
  from {top: 50px; opacity: 0%;}
  to {top: 0px; opacity: 100%;}
}

.paypal.icon-large {
  position:absolute;
  bottom: 175px;
  left: 0px;
  animation-name: paypal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes paypal {
  from {bottom: 125px; opacity: 0%;}
  to {bottom:175px; opacity: 100%;}
}

.weave.icon-large {
  position: absolute;
  right: 135px;
  animation-name: weave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes weave {
  from {bottom: 125px; opacity: 0%;}
  to {bottom:175px; opacity: 100%;}
}

.google-a.icon-small {
  position:absolute;
  left: 100px;
  animation-name: google-a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes google-a {
  from {bottom: -10px; opacity: 0%;}
  to {bottom:40px; opacity: 100%;}
}

.calendar.icon-large {
  position:absolute;
  right: 25px;
  animation-name: calendar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes calendar {
  from {bottom: -50px; opacity: 0%;}
  to {bottom:0px; opacity: 100%;}
}

.benefits {
  margin-top: 100px;
}

.benefits--text,
.why--text {
  text-align: center;
}

.benefits--text h2,
.why--text h2,
.pricing-heading h2 {
  font-size: var(--size-30);
}
.benefits--text p,
.why--text p {
  color: var(--font-color-light);
  font-size: var(--size-18);
}

.benefits--cards {
  display: flex;
  flex: 1;
  gap: 2rem;
  justify-content: space-between;
  margin: 75px 0 100px;
}

.benefit-card {
  padding: 20px;
  box-shadow: 0px 4px 10px rgba( 48 63 100 / 15%);
}

.benefit-card:hover {
  background-color: var(--circle-fill-lightblue);
}

.benefit-image {
  width: 75px;
}

.benefit-card p {
  color: var(--font-color-light);
  line-height: 1.75;
  margin-top: 0;
}

.benefit-card a {
  color: var(--primary-blue);
}

.sketch-link {
  display: flex;
  align-items: center;
}

.benefit-card h4,
.sketch-link h4 {
  font-size: var(--size-20);
}

a.sketch-btn {
  color: var(--font-color-white);
  background-color: var(--button-green);
  padding: 3px 15px;
  border: none;
  border-radius: 500px;
  margin-left: 10px;
}

.perspectives {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  background-color: var(--background-grey);
  padding-top: 150px;
}

.perspectives--text {
  padding: var(--size-40) var(--size-30);
}

.perspectives--text h2 {
  font-size: 1.7rem;
  font-weight: 400;
}

a.video-btn.btn-primary {
  display: inline-block;
  /* margin-top: var(--size-10); */
}

.why--text {
  margin-bottom: 50px;
}

.component-timeline {
  /* width: 800px; */
  margin:0px auto 200px auto;
}

.timeline {
  position: relative;
}

.timeline li {
float: left;
width: 25%;
position: relative;
text-align:center;
color: var(--font-color-medium);
}

.timeline li::before {
  content:".";
  font-size: 4rem;
  width: 70px;
  height: 70px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 1.7rem;
  margin: 0 auto 10px auto;
  background: var(--circle-fill-lightblue);
  box-shadow: inset 0px 0px 1px 1px rgba(48 63 100 / 10%);
  color: var(--primary-blue);
  transition: ease-in-out .3s;

}

.timeline li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
 background-color: #dadfe3;
  top: 35%;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;
}
.timeline li:nth-child(1)::after {
  display: none;
}

.why--video {
  padding-top: var(--size-50);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}


.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--size-50);
  margin-top: var(--size-100);
}

.testimonial--image {
  position: relative;
}

.dots {
  width: 45%;
    position: absolute;
    left: 0;
    bottom: -55px;
    z-index: -1;
}

.director-image {
  width: 90%;
  float: right;
}

.testimonial--text {
  display: flex;
  align-items: center;
}

.hubspot-logo {
  width: 25%;
}

.testimonial-words {
  font-size: 1.5rem;
  color: var(--font-color-medium);
  margin-bottom: var(--size-50);
}

.director-name {
  font-size: 17px;
  font-weight: 700;
  color: var(--font-color-medium);
  margin-bottom: 5px;
}
.director-title {
  font-size: var(--size-14);
  margin-top: 0;
  color: var(--font-color-medium);
}

.trusted-users {
  margin-top: var(--size-150);
  text-align: center;
}

.trusted-users h3 {
  color: var(--font-color-dark);
  font-weight: 400;
  text-transform: uppercase;
}

.company-users {
  display: flex;
  justify-content: space-between;
  gap: var(--size-100);
  margin: var(--size-50) 0;
}

.pricing--info {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: var(--size-50);
  margin-top: 75px;
}

.pricing-heading {
  text-align: center;
}

.pricing-heading h2 {
  margin-bottom: 0;
}

.pricing-heading p {
  font-size: var(--size-20);
    color: var(--font-color-light);
    margin-top: var(--size-10);
}

.price-card {
padding: var(--size-40);
margin-left: var(--size-16);
box-shadow: 0px 4px 10px rgba(48 63 100 /20%);
}

.price-card p {
  font-size: var(--size-20);
  color: var(--font-color-light);
  margin: var(--size-40) 0;
  line-height: 1.5; 
}

p.no-cc {
  margin: var(--size-10) 0;
  font-size: var(--size-14);
}

.price-lead {
  display: flex;
  align-items: flex-end;
  margin: var(--size-40) 0;
}

.price-lead h2 {
  font-size: 60px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.price-lead p {
  margin: 0;
  font-size: var(--size-18);
  padding-left: 5px;
  color: var(--font-color-medium);
}

.price-factors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  grid-gap: var(--size-30);
  margin: var(--size-20) 0;
}

.factor-image {
  width: 20%;
}

.factor h4 {
  font-size: var(--size-20);
  letter-spacing: 1.1px;
}

.factor p {
  color: var(--font-color-light);
  font-size: var(--size-18);
    line-height: 1.5;
    padding-right: 55px;
}

.sketch-link-p {
  margin-top: 0;
}

section.hire-us {
  background-color: var(--background-blue);
}
.hire-us--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* gap: var(--size-20); */
}
.hire-us--text {
  color: var(--font-color-white);
  padding: var(--size-150) 5.625rem var(--size-150) var(--size-75);
}

.hire-us--text h2 {
  font-size: var(--size-30);
}

.hire-us--text h4 {
  font-size: 1.375rem;
  margin-bottom: 0;
  margin-top: var(--size-75);
}
.hire-us--text p {
  font-size: var(--size-18);
    color: var(--font-color-light);
    line-height: 1.5;
}

.hire-us-hr {
  width: 50%;
  margin: var(--size-40) 0;
}

p.hire-us-testimony {
  color: var(--font-color-white);
  font-size: var(--size-18);
  font-style: italic;
}

p.testimony-title {
  font-size: var(--size-18);
  margin-top: 0;
}

.hire-us-pics {
  display: flex;
  margin-top: var(--size-50);
  align-items: center;
}

.hire-us-pics li {
  width: var(--size-50);
  margin-right: var(--size-30);
}

.hire-us-pics li:last-child {
  width: var(--size-75);
}

.hire-us-pics li img {
  border-radius: 50%;
}

.hire-us--form {
  display: grid;
  grid-template: 1fr / 1fr;
  /* place-items: center; */
}

.form-background {
  background-color: #fff;
  border-radius: 15px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  margin: 30px;
}

.hire-us-form-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  padding: 50px 55px 75px 55px;
}

p.directions {
  font-size: var(--size-18);
  line-height: 1.5;
  color: var(--font-color-dark);
}

.hire-us-form-content form h4,
textarea#project-data {
  letter-spacing: 0.05rem;
}

.name-1,
.name-2,
.budget-country {
  display: flex;
  justify-content: space-between;
  gap: var(--size-20);
  margin-bottom: var(--size-20);
}

.name-1 > div,
.name-2 > div, 
.budget-country > div,
.project-data {
  width: 100%;
  padding: var(--size-14);
  border: 1px solid #ccc;
  border-radius: 8px;
}

input#first-name,
input#last-name,
select#budget,
select#country,
textarea#project-data {
  font-size: var(--size-14);
  color: var(--font-color-medium);
  border: none;
  width: 100%;
}

div.entry-1 input#first-name {
  background-image: transparent;
}

textarea#project-data {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

.terms {
  display: flex;
}

input.chkbox {
  width: 1.5rem;
  height: 1.5rem;
}
p.terms-text {
  padding-left: var(--size-16);
  font-size: var(--size-16);
  line-height: 1.5rem;
  color: var(--font-color-light);
}

.privacy {
  display: flex;
  justify-content: space-evenly;
  text-decoration: 3px dotted underline;
    text-underline-offset: 0.3rem;
}

.privacy a {
  color: var(--primary-blue);
}

form button.btn-primary {
  margin: var(--size-40) auto 0px;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1.8fr 4fr;
}

.footer-logo {
  width: 7.5rem;
}

.logo-contact address {
  display: flex;
    align-items: center;
    color: var(--font-color-light);
}

.logo-contact address p {
  font-style: normal;
}

.phone i {
  opacity: 70%;
}

.phone a,
ul.features-links li a {
  color: var(--primary-blue);
}

.logo-contact address i,
.phone i {
  width: var(--size-16);
    margin-right: var(--size-10);
}

.footer-nav {
  margin-top: var(--size-75);
}

.footer-nav-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: var(--size-20);
}

.footer-nav-company h4,
.footer-nav-features h4,
.footer-nav-documentation h4,
.footer-nav-resources h4 {
  font-size: var(--size-20);
  margin-top: 0;
}

ul.company-links li,
ul.features-links li,
ul.documentation-links li,
ul.resources-links li {
  padding-bottom: var(--size-14);
  color: var(--font-color-light);
}

ul.company-links li {
  display: flex;
  align-items: center;
}

ul.company-links li a {
  font-size: var(--size-10);
  color: var(--font-color-white);
  background-color: var(--primary-blue);
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: var(--size-10);
}
.resources-links li {
  display: flex;
  align-items: center;
}

.resources-help i,
.resources-account i {
  margin-right: var(--size-10);
  color: var(--font-color-light);
}
.resources-help p,
.resources-account p,
 ul.company-links li p {
  margin: 0;
}

.footer-hr {
  border-top: 1px solid #ddd;
  margin: var(--size-40) 0;
}

.social-connections {
  display: flex;
  justify-content: space-between;
}

.site-map {
  color: var(--font-color-light);
}

.site-map span {
  color: var(--primary-blue);
}

.social-links {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
}

.social-icons i {
  background-color: var(--icon-fill-light);
  border-radius: 8px;
  color: var(--font-color-light);
  width: 40px;
  height: 40px;
  line-height: 2.5;
  text-align: center;
  margin-right: var(--size-20);
}

.social-icons i.fa-brands.fa-google {
  background-color: var(--icon-fill-dark);
  color: var(--icon-fill-light);
}

.location-icon {
  padding: var(--size-10) var(--size-14);
    background-color: var(--icon-fill-light);
    width: 12.5rem;
    border-radius: 8px;
}

select#user-country {
  border: none;
  background-color: var(--icon-fill-light);
  width: 100%;
  font-size: var(--size-16);
  color: var(--font-color-light);
}

.copyright-cookies {
  text-align: center;
  color: var(--font-color-light);
  margin-right: var(--size-40);
}

.cookies {
  margin-top: var(--size-30);
}

@media screen and (max-width: 768px) {
  [aria-controls='navbarDropdown'] {
    display: block;
  }

  [aria-expanded='false'] ~ ul {
    display: none;
  }

  [aria-expanded='true'] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.7)
    );
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
  }

  [aria-expanded='true'] ~ ul li a {
    margin-right: 20px;
    color: #666;
  }

}