*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header.header-container {
  position: relative;
  /* height: 75rem; */
}
.geo-image{
  position: absolute;
  top: -230px;
  left: 0;
  background: linear-gradient(115deg, #fff 0%, #f4f4f4 75%, #e0e7ef 75%);
  transform: skewY(-7deg);
  height: 48.5rem;
  width: 100%;
  z-index: -1;
}



.container {
  width: 100%;
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
display: flex;

}

.navbar.sticky {
  background: white;
  box-shadow: 0px 0px 20px rgb(48 63 100 / 20%);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand
 {
  color: #666;
}

.navbar-toggler {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: #666);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls='navbarDropdown'] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  transition: ease-in-out 0.3s;
}

.navbar-brand img {
  height: 50px;
}

.nav-link a {
  color: var(--font-color-light);
  font-size: 1rem;
  margin-right: 30px;
  line-height: 20px;
}

a.btn-primary {
  color: var(--font-color-white);
  font-size: var(--size-14);
  margin-right: 0;
}

.header-hero {
  height: 510px;
}

.header-hero .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 0;
  height: inherit;
}

.hero-text {
  padding-right: 180px;
}
.hero-text h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.hero-text p {
  color: var(--font-color-light);
  font-size: var(--size-14);
  margin-bottom: 2rem;
}

.learn-links {
  display: flex;
  align-items: center;
}

a.video-btn.btn-primary {
  display: flex;
  align-items: center;
}

a.video-btn.btn-primary i {
  font-size: var(--size-20);
  padding-right: 10px;
}

a.video-btn.btn-primary p {
  color: var(--font-color-white);
  font-size: var(--size-14);
}

.learn-more a {
  color: var(--primary-blue);
  padding-left: 20px;
  font-weight: 700;
}

.icon-group {
  position: relative;
}
.icon-small {
  width: 4.35rem;
  height: 4.35rem;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 2px #bfc5cb;
}

.icon-large {
  width: 5.975rem;
  height: 5.975rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 2px #bfc5cb;
}

.google.icon-small {
position:absolute;
top: 0;
left: 60px;
}

.atlassian.icon-large {
  position: absolute;
  top: 0;
  left: 190px;
}

.asana.icon-large {
  position:absolute;
  top: 0;
  right: 0;
}

.paypal.icon-large {
  position:absolute;
  top: 40%;
  left: 25px;
}

.weave.icon-large {
  position: absolute;
  top: 40%;
  right: 135px;
}

.google-a.icon-small {
  position:absolute;
  bottom:40px;
  left: 150px;
}

.calendar.icon-large {
  position:absolute;
  bottom:0;
  right: 20px;
}



@media screen and (max-width: 768px) {
  [aria-controls='navbarDropdown'] {
    display: block;
  }

  [aria-expanded='false'] ~ ul {
    display: none;
  }

  [aria-expanded='true'] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.7)
    );
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
  }

  [aria-expanded='true'] ~ ul li a {
    margin-right: 20px;
    color: #666;
  }

}